<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.company.launchmodemasterassis"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".MasterAssisApplication"
        android:allowBackup="true"
        android:icon="@drawable/svg_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/svg_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AssisMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Assis_Standard_A1_Activity"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="launch_mode_master_assis.STANDARD_A1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Assis_SingleTop_B1_Activity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="launch_mode_master_assis.SINGLE_TOP_B1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Assis_SingleTask_C1_Activity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="launch_mode_master_assis.SINGLE_TASK_C1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Assis_SingleInstance_D1_Activity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="launch_mode_master_assis.SINGLE_INSTANCE_D1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>